*.o
moc_*
*.so
*.so.*
Makefile*
*.list
deviceinfo-test
storage-test
protocol-test
mts/device_interface.cpp
mts/device_interface.h
mtp_test
mtp_service
RPMS/
installroot/
mts/platform/storage/unittests/storagefactory-test
