Source: libmaemomtp
Section: libs
Priority: extra
Maintainer: Santosh Puranik <santosh.puranik@nokia.com>
Build-Depends: cdbs, debhelper (>= 5), libqttracker-dev, libcontextsubscriber-dev, sync-fw-dev (>= 0.5.1), libmtp-playready0-dev (>= 0.1.5)
Standards-Version: 3.7.2

Package: libmaemomtp
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Description: MTP stack
 MTP stack.

Package: libmaemomtp-dev
Section: libdevel
Architecture: any
Depends: libmaemomtp (= ${binary:Version})
Description: Development files for libmaemomtp
 Development files for libmaemomtp.

Package: libmaemomtp-dbg
Section: libs
Architecture: any
Depends: libmaemomtp (= ${binary:Version})
Description: Debug symbols for libmaemomtp
 Debug symbols for libmaemomtp.

Package: libmaemomtp-doc
Section: doc
Architecture: any
Description: API documentation for libmaemomtp.
 Empty documentation package for libmaemomtp.

Package: libmaemomtp-tests
Section: tests
Architecture: any
Depends: ${shlibs:Depends}, libmaemomtp
Description: Tests package for libmaemomtp
 Automated unit test package for libmaemomtp
XB-Maemo-CI-Stage: staging, acceptance
XB-Maemo-CI-Packages: libmaemomtp

Package: libmaemomtp-tests-dbg
Section: tests
Architecture: any
Depends: libmaemomtp-tests (= ${binary:Version})
Description: Debug symbols for libmaemomtp-tests
 Debug symbols for libmaemomtp-tests.
