[Unit]
Description=MTP service

[Service]
EnvironmentFile=-/etc/sysconfig/buteo-mtp
EnvironmentFile=-/var/lib/environment/buteo-mtp/*.conf
ExecStart=/usr/libexec/mtp_service $SERVICE_PARAMETERS
Restart=always
RestartSec=1
